<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">
    <!--    <a th:href="@{/start}" class="btn btn-primary">-->
    Прийом... пшпшпшп (помехи), прийом, как читается?<br>
    Это важное сообщение из (пш...п...шп) для особенного человека по имени (п...п.шпш)! Для соблюдения осторожности просьба пройти ряд заданий по удостоверению личности... Да прибудет с вами Java!!!
    <!--    </a>-->
</div>
</body>
</html>